venv/
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md
movie_recommender_cache_gpu.pkl/
archive/TMDB_movie_dataset_v11.csv/
*.pkl
*.csv
archive/
node_modules/
frontend/node_modules/
.env
.DS_Store